@import './bootstrap-variables';
@import './bootstrap-custom';

body {
  padding: 20px;
}

footer {
  text-align: right;
}

.lr-container {
  display: flex;
  & > div:first-child {
    margin-right: 20px;
  }

  #screen {
    background-color: #fff8db;
  }

  select {
    color: black;
  }
}

